<h1>Advert</h1>

<div>
  <div>title : {{advert.title}}</div>
  <div>location : {{advert.location}}</div>
  <div>description : {{show.description}}</div>
  <div>date : {{advert.date}}</div> 
  <div>type : {{advert.type}}</div>
  <div>price : {{advert.price}}</div>
  <div>userId : {{advert.userId}}</div>
  <div>petId : {{advert.petId}}</div>
</div>

<div class="text-center">
  <a class="btn btn-primary" href="/adverts/create" role="button">
    Add an advert
  </a>
  <a class="btn btn-secondary" href="/adverts/update/{{advert.id}}" role="button">
    Update
  </a>
  <a class="btn btn-danger" href="/adverts/delete/{{advert.id}}" role="button">
    Delete
  </a>
</div>
